
/* ==========================================================================
   Gearóid Garvey - Updated on the 03/11/2015 - Brighton, England.
   ** Change this to LESS - CSS is annoying.
   ========================================================================== */

body { margin-top: 30px; background: #fff; }

/* General styles */

a:hover{color:#e03f24; text-decoration: none;}

h1, h2, h3 { color: #e03f24; font-family: 'Raleway', sans-serif; }

.title { border-bottom: 1px solid; }

.navbar-brand{ font-size: 22px; font-family: 'Raleway', sans-serif;  }

.logo img{ margin: 10px 0; }
.left-side{ border-right: 2px dashed #1784c9; background: #3FA7E6; }
.wrapper { position: fixed; width: 100%; height: 100%; background: #3FA7E6;  }
.main-content { border-left: 2px dashed #ddd; }


.list-group-item { border: none; background: #3FA7E6 }
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus { background: #3FA7E6; }

a.list-group-item.hover { background: #000; }

.img-circle { border: 2px solid #ddd; }


/* typography */
html {
  /* Change default typefaces here */
  font-family: serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
}
/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}
h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 0rem;
}
h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
}
h3 {
  font-size: 1.414rem;
}
h4 {
  font-size: 0.707rem;
}
h5 {
  font-size: 0.4713333333333333rem;
}
h6 {
  font-size: 0.3535rem;
}
/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}
/* Code blocks */
code {
  vertical-align: bottom;
}
/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}
/* Hug the block above you */
.hug {
  margin-top: 0;
}


/* Navigation */
.nav>li>a:hover { background: none; }
.nav>li>a .active { background: #000; }
.nav>li>a:focus { background: none; color: #e03f24; }
.navbar-nav.nav>li { float: left; }

.navbar-fixed-top{
	background: #fff;
	border-bottom: 2px dashed #ccc;
	font-size: 22px;
}

.nav a {
  padding: 8px 0;
  font-size: 16px;
}

.nav a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #e03f24;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.nav a:hover::after,
.nav a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/* Menu */

.menu { margin-left: 80px; }

/* Footer */

#footer { background: #fff; height: 60px; padding-top: 60px; }


/* Less then 990px */

@media (max-width: 990px) { 
  .main-content{ border: none;}
  .ng-scope { margin-top: 20px; }

  .navbar-fixed-top .fa{ font-size: 22px; }

  
}
