@red: #A30B37;

.social {
  padding: 40px 0;
  .fa {
    font-size: 26px;

    &:last-of-type {
      padding-left: 20px;
    }
  }
}

.fa-heart-o {
  color: @red;

  &:hover {
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
  }
}

.hero-foot {
  .tabs {
    padding-bottom: 10px;
  }
}
