@red: #A30B37;

.social {
  text-align: center;
  padding: 5px;

  @media screen and (min-width: @tablet) {
    padding: 20px 10px;
    text-align: right;
  }
  .fa {
    font-size: 26px;

    &:last-of-type {
      padding-left: 20px;
    }
  }
}

.built {
  text-align: center;
  padding: 5px;
  @media screen and (min-width: @tablet) {
    padding: 20px 10px;
    text-align: left;
  }
  .fa-heart {
    color: @red;

    &:hover {
      -webkit-transform: rotateZ(-10deg);
      -ms-transform: rotateZ(-10deg);
      transform: rotateZ(-10deg);
    }
  }
}

.hero-foot {
  .tabs {
    padding-bottom: 10px;
  }
}
