@import 'contact.less';
@import 'footer.less';
@import 'navigation.less';
@import 'typography.less';

/* Variables */

@black: #000000; 
@white: #FFFFFF;

@intro-bg: #db7825;
@portfolio-bg: #1c7c70;
@home-bg: #3277a1;
@contact-bg: #e5bc46;
@workshop-bg: #cccccc;

@link-color: #47a3da;

@padding-base: 10px;
@margin-base: 10px;

@fringe-color: #bd3088;
@edfest-color: #1A7999;
@interval-timer-color: #FA824C;

@dark: #2f3238;

/* Mixin */

.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
  -webkit-animation: @name @duration @delay @ease;
  -moz-animation:    @name @duration @delay @ease;
  -ms-animation:     @name @duration @delay @ease;
}

/* End Mixin */

html, 
body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background: @white;
  position: relative;
  margin-bottom: @margin-base * 6;
  display: flex;
  flex-direction: column;
}


.margin-bottom-20 {
  margin-bottom: 20px;
}

.responsive {
  width: 100%;
  height: auto;
}


.main {
  flex: 1 0 auto;
}

.intro, .home, .workshop, .contact {
  height: 100vh;
  padding: @padding-base * 2;

  @media (min-width: 576px) { 
    padding: @padding-base * 8 @padding-base * 2 @padding-base * 2 @padding-base * 2;
  }
}

.intro {
  background: @white;
  color: lighten(@black, 10%);
  //background-image: url("images/home.jpg");

  .content {
    text-align: center;
  }
  .subtitle {
    font-size: 14px;
  }
}

.home {
  
}

.workshop {
  .project {
    background-color: grey;
    padding: 20px;

    &.fringe {
      background-color: @fringe-color;
    }
    &.edfest {
      background-color: @edfest-color;
    }
    &.interval-timer {
      background-color: @interval-timer-color;
    }
  } 
}

.contact {
  
}

/* Workshop styling */

.grid figure {
  position:relative;
  float:left;
  overflow:hidden;
  margin:10px 1%;
  background:#3085a3;
  text-align:center;
  cursor:pointer;
  width: 100%;
  height: auto;
  figcaption::before, figcaption::after {
    pointer-events:none;
  }
  img {
    position:relative;
    display:block;
    min-height:100%;
    max-width:100%;
    opacity:0.8;
  }
  figcaption {
    padding:2em;
    color:#ffffff;
    text-transform:uppercase;
    font-size:1.25em;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    > a {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:1000;
      text-indent:200%;
      white-space:nowrap;
      font-size:0;
      opacity:0;
    }
  }
  h2 {
    word-spacing:-0.15em;
    font-weight:300;
    margin:0;
    span {
      font-weight:800;
    }
  }
  p {
    margin:0;
    letter-spacing:1px;
    font-size:68.5%;
  }
}

figure.effect {
  background:#2f3238;
  img {
    max-width:none;
    height:400px;
    -webkit-transition:opacity 1s, -webkit-transform 1s;
    transition:opacity 1s, transform 1s;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
  }
  figcaption {
    text-align:left;
  }
  h2 {
    position:relative;
    padding:0.5em 0;
  }
  p {
    display:inline-block;
    margin:0 0 0.25em;
    padding:0.4em 1em;
    background:rgba(255,255,255,0.9);
    color:#2f3238;
    text-transform:none;
    font-weight:500;
    font-size:75%;
    -webkit-transition:opacity 0.35s, -webkit-transform 0.35s;
    transition:opacity 0.35s, transform 0.35s;
    -webkit-transform:translate3d(-360px,0,0);
    transform:translate3d(-360px,0,0);
  }
  p:first-child {
    -webkit-transition-delay:0.15s;
    transition-delay:0.15s;
  }
  p:nth-of-type(2) {
    -webkit-transition-delay:0.1s;
    transition-delay:0.1s;
  }
  p:nth-of-type(3) {
    -webkit-transition-delay:0.05s;
    transition-delay:0.05s;
  }
}
figure.effect:hover p:first-child {
  -webkit-transition-delay:0s;
  transition-delay:0s;
}
figure.effect:hover p:nth-of-type(2) {
  -webkit-transition-delay:0.05s;
  transition-delay:0.05s;
}
figure.effect:hover p:nth-of-type(3) {
  -webkit-transition-delay:0.1s;
  transition-delay:0.1s;
}
figure.effect:hover img {
  opacity:0.4;
  -webkit-transform:scale3d(1.1,1.1,1);
  transform:scale3d(1.1,1.1,1);
}
figure.effect:hover p {
  opacity:1;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}

.row:after {
  content: "";
  clear: both;
}
