@import 'contact.less';
/* Variables */

@black: #000000; 
@white: #FFFFFF;

@intro-bg: #db7825;
@portfolio-bg: #1c7c70;
@home-bg: #3277a1;
@contact-bg: #e5bc46;
@workshop-bg: #cccccc;

@link-color: #47a3da;


/* Mixin */

.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
  -webkit-animation: @name @duration @delay @ease;
  -moz-animation:    @name @duration @delay @ease;
  -ms-animation:     @name @duration @delay @ease;
}

/* End Mixin */

html, 
body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background: @white;
  position: relative;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, p {
  /*color: lighten(@white, 20%);*/
  font-family: 'PT Sans Narrow', sans-serif;
}

h1 {
  font-size: 4rem;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

a {
  color: @link-color;
  text-decoration: none;
  &:hover, &:visited, &:active {
    text-decoration: none;
  }
}

nav.nav {
  background: @white;
  padding: 20px;
  display: block;
  text-align: right;
}

.main {
  flex: 1 0 auto;
}

.intro, .home, .portfolio, .workshop, .contact {
  height: 100vh;
  padding: 80px 20px 20px 20px;
}

.intro {
  background: @white;
  color: lighten(@black, 10%);
  //background-image: url("images/home.jpg");

  .content {
    text-align: center;
  }
  .subtitle {
    font-size: 14px;
  }
}

.home {
  background-color: @home-bg;
}

.portfolio {
  background: @portfolio-bg;
}

.workshop {
  background: @workshop-bg;
}

.contact {
  background: @contact-bg;
}

.navbar {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

footer.footer {
  background: @white;
  padding: 20px;

  .fa-heart-o {
    color: red;
  }
}

.fixed-bottom {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.back-to-top {
  position: fixed;
  right: 40px;
  bottom: 100px;
  height: 40px;
  width: 40px;
  font-size: 26px;
  text-align: center;
  background: white;

}


/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
  text-decoration: none;
}

.cl-effect-1 a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

