@text-color: #F3F5F0;


.projects {
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
 
  @media screen and (min-width: @tablet) {
    text-align: left;
  }
  h2 {
    padding-bottom: 40px;
  }

  .screenshot {
    img {
      max-height: 500px;
    }
  }

  .hero-foot {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .fa {
    font-size: 40px;
    padding: 0 10px;
  }
}

.truChallenge {
  background: #ED6A5A;
  color: @text-color;
}

.fringe {
  background: #4e4893;
  color: @text-color;

  a {
    color: @white;
  }
}

.wireCompare {
  background: #F4F1BB;
}
