
h1, h2, h3, h4, p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
}

h1 {
  font-size: 4rem;
}

a {
  color: @link-color;
  text-decoration: none;
  &:hover, &:visited, &:active {
    text-decoration: none;
  }
}
