@link-color: #47a3da;

h1, h2, h3, h4, p {
  /*color: lighten(@white, 20%);*/
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
}

h1 {
  font-size: 4rem;
}

a {
  color: @link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: lighten(@link-color, 10%);
  }
}

