.social {
  text-align: center;
}
.social .fa {
  font-size: 26px;
}
.fa-heart-o {
  color: #a30b37;
}
.fa-heart-o:hover {
  -webkit-transform: rotatez(-30deg);
  -ms-transform: rotatez(-30deg);
  transform: rotatez(-30deg);
}
.hero-foot .tabs {
  padding-bottom: 10px;
}
h1,
h2,
h3,
h4,
p {
  /*color: lighten(@white, 20%);*/

  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
a {
  color: #47a3da;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #71b8e3;
}
.intro .fa {
  text-align: center;
  font-size: 40px;
  display: block;
}
.intro .fa:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.contact {
  background-color: #e6e6e6;
}
.contact label {
  text-align: left;
}
.contact button {
  float: right;
}
