/* Variables */
body#public {
  background: transparent;
}
#wuf-adv {
  display: none !important;
}
label.desc,
legend.desc {
  font-size: 1rem;
}
.info {
  border-bottom: none;
}
input.text,
input.search,
textarea.textarea {
  padding: 10px;
}
/* Variables */
/* Mixin */
/* End Mixin */
html,
body {
  height: 100%;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  background: #ffffff;
  position: relative;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
p {
  /*color: lighten(@white, 20%);*/

  font-family: 'PT Sans Narrow', sans-serif;
}
h1 {
  font-size: 4rem;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
a {
  color: #47a3da;
  text-decoration: none;
}
a:hover,
a:visited,
a:active {
  text-decoration: none;
}
nav.nav {
  background: #ffffff;
  padding: 20px;
  display: block;
  text-align: right;
}
.main {
  flex: 1 0 auto;
}
.intro,
.home,
.portfolio,
.workshop,
.contact {
  height: 100vh;
  padding: 80px 20px 20px 20px;
}
.intro {
  background: #ffffff;
  color: #1a1a1a;
}
.intro .content {
  text-align: center;
}
.intro .subtitle {
  font-size: 14px;
}
.home {
  background-color: #3277a1;
}
.portfolio {
  background: #1c7c70;
}
.workshop {
  background: #cccccc;
}
.contact {
  background: #e5bc46;
}
.navbar {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
footer.footer {
  background: #ffffff;
  padding: 20px;
}
footer.footer .fa-heart-o {
  color: red;
}
.fixed-bottom {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
.back-to-top {
  position: fixed;
  right: 40px;
  bottom: 100px;
  height: 40px;
  width: 40px;
  font-size: 26px;
  text-align: center;
  background: white;
}
/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}
.cl-effect-1 a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translatex(20px);
  -moz-transform: translatex(20px);
  transform: translatex(20px);
  text-decoration: none;
}
.cl-effect-1 a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translatex(-20px);
  -moz-transform: translatex(-20px);
  transform: translatex(-20px);
}
.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translatex(0px);
  -moz-transform: translatex(0px);
  transform: translatex(0px);
}
