.social {
  text-align: center;
}
.social .fa {
  font-size: 26px;
}
.fa-heart-o {
  color: #a30b37;
}
.fa-heart-o:hover {
  -webkit-transform: rotatez(-30deg);
  -ms-transform: rotatez(-30deg);
  transform: rotatez(-30deg);
}
.hero-foot .tabs {
  margin-bottom: 10px;
}
h1,
h2,
h3,
h4,
p {
  /*color: lighten(@white, 20%);*/

  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
}
h1 {
  font-size: 4rem;
}
a {
  color: #47a3da;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #71b8e3;
}
.workshop {
  background-color: #ed6a5a;
}
