@charset "utf-8";


/* TYPOGRAPHY */
@font-face{
    font-family: "angelina";
    src: url('fonts/angelina.ttf'),
    url('fonts/angelina.eot'); /* IE */
}

h1 { font-family: angelina, times, serif; }
p { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }


body { background-image: url("../img/bg.png");  }

.header{ height: 55px; background: #000; }
.banner { border-bottom: 7px solid #fff; }

.content { background: #fff; margin: 30px 0 35px 0; border-radius: 15px; behavior: url(pie/PIE.htc); padding: 10px 0 40px 0;  }
.footer { height: 47px; background: #000; }