
body { background: url(img/ackground.jpg); font-family: 'PT Sans', arial, serif; margin:0; padding:0;}

#header h1 { font-family: 'Sunshiney', cursive; font-size: 38px; font-weight: normal; }

a{color:#fff;-webkit-transition:color 0.5s ease-in; text-decoration: none;}
a:hover {color:#ffab48;}

.boxes {  list-style: none; float: left; }
ul .boxes { width: 960px;  }

.boxes li { display: block; float: left; }

/* HEADER */
#header { background: #473b39; color: #fff; border-bottom: 4px solid #ffab48; }
#header .logo { margin-top: 10px; }

/* MENU */
#nav {	float: right; 0;padding: 0;list-style: none;font-size: 24px;font-family: 'Sunshiney', cursive; }	
#nav li {float: right;margin: 20px;}
#nav a { text-decoration: none; }
#nav .selected { color: #ffab48; font-size: 24px;  }
#nav .capital { font-size: 30px; }
/* MENU */


.slider { margin-top: 20px; }

/* CONTENT */
#content { padding: 10px 0; }	
#content h1 { font:"Calisto MT"; }
#content p { margin-top: 10px; }
#content a.anchorLink { color: #3399cc; -webkit-transition:color 0.5s ease-in; text-decoration: none; float: right; }
#content a.anchorLink:hover {color:#ffab48;}

#about { background: #191919; color: #fff; border-top: 4px solid #FFAB48; padding: 20px 0; }
#about a.anchorLink { color: #3399cc; -webkit-transition:color 0.5s ease-in; text-decoration: none; float: right;}
#about a.anchorLink:hover {color:#ffab48;}

#shows { padding: 20px 0; background: #21180D; color: #CFBA58; border-top: 4px solid #FFAB48; }
#shows a.anchorLink { color: #3399cc; -webkit-transition:color 0.5s ease-in; text-decoration: none; float: right;}
#shows a.anchorLink:hover {color:#ffab48;}

/* Footer */
#footer { background: #000; color: #fff; padding-top: 10px; border-top: 4px solid #FFAB48; }
#footer h3 { font-family: 'Sunshiney', cursive; font-size: 38px; font-weight: normal; }
#footer a.anchorLink { color: #3399cc; -webkit-transition:color 0.5s ease-in; text-decoration: none; float: right;}
#footer img { border: none; }

#footer a.anchorLink:hover {color:#ffab48;}

#footer .social { margin-top: 320px; float: right; text-align: right; }
#footer .copyright { font-size: 16px;  }


/* REMOVE WUFOO HEADER */
#form3 #header{display:none}
