/* Default fonts and colors. */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea { font-family: Verdana, Arial, Helvetica, sans-serif; }


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-family:Georgia, "Times New Roman", Times, serif; font-weight:normal; color:#333; }

h1 {  font-size: 23px; line-height: 1; margin-bottom: 0.5em; }
h2 {  font-size: 2em; margin-bottom: 0.75em; }

/* Text elements
-------------------------------------------------------------- */
p { margin: 0 0 0.9em; color: #333; line-height:1.5em; font-size:12px;  }


/* GENERAL STYLING */
.clear { clear:both; }


body { background: #e8e4d6 url(img/background.png) repeat-x; }
#wrapper { margin: 0 auto; width: 973px; } 
.content { margin-top: 76px; }



/* MAIN CONTENT
-------------------------------------------------------------- */
.main-page { 
	padding: 20px 18px; 
	width: 552px; 
	float: left; 
	background: #fff; 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	border: 1px solid #d4ccc2;}

.left-content { 
	width: 330px; 
	float:left; }

.paper-container { 
	float:left; 
	width: 75px; }

.paper { 
	position: relative;
	left: -65px; 
	background: transparent url(img/sprites.png) 0px 0px;
	width:115px;
	height:120px; }

.dance-container { 
	float: left; 
	width: 120px; 
	top: 60px; 
	left: 600px; 
	position: absolute;
	z-index: 10; }

.dance { 
	background: transparent url(img/sprites.png) 0px -120px;
 	width:225px; height:285px; }


/* SEARCH FORM
-------------------------------------------------------------- */
.search-header { 
	padding: 5px 0 0 12px;
 	height:26px;
 	-moz-border-radius-topleft: 10px;
 	-moz-border-radius-topright: 10px;
 	-moz-border-radius-bottomright: 0px;
 	-moz-border-radius-bottomleft: 0px;
 	-webkit-border-radius: 10px 10px 0px 0px;
 	border-radius: 10px 10px 0px 0px;
 	border: 1px solid #d4ccc2;
	background: rgb(175,187,120); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(175,187,120,1) 0%, rgba(151,162,101,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(175,187,120,1)), color-stop(100%,rgba(151,162,101,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(175,187,120,1) 0%,rgba(151,162,101,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(175,187,120,1) 0%,rgba(151,162,101,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(175,187,120,1) 0%,rgba(151,162,101,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(175,187,120,1) 0%,rgba(151,162,101,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afbb78', endColorstr='#97a265',GradientType=0 ); /* IE6-9 */
 	}

.search-header a { 
	color: #f7fcfc; 
	text-decoration:underline; }

.search { 
	width: 200px; 
	float:left; 
	color:#FFFFFF; 
	font-weight:bold; 
	font-size:14px; }

.search-controls { 
	width:325px; 
	float:left; 
	text-align:right; 
	font-size:11px; }

.search-form { 
	position: relative; 
	z-index: 11; }

.search-content .field-long a { 
	color: #75854E; 
	text-decoration:underline;}

.search-content { 
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px; border: 1px solid #d4ccc2;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(253,250,231,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(253,250,231,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(253,250,231,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(253,250,231,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(253,250,231,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(253,250,231,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fdfae7',GradientType=0 ); /* IE6-9 */
	padding:0 0 20px 22px;  }

.search-content legend { 
	font-weight:bold; }

.search-btn { 
	background: transparent url(img/sprites.png) 0px -470px;
	height:35px; 
	width:66px; 
	color:#FFFFFF; 
	padding: 9px; 
	font-weight:bold; 
	border: none;
	cursor: pointer;}

a.search-btn { 
	text-decoration: none;
	font-size: 12px; }


/* RIGHT CONTENT
-------------------------------------------------------------- */
.sidebar { 
	float: left; 
	margin-top: 9px; 
	padding: 10px 0 80px 0; 
	background: #f8f7f2 url(img/census.png) no-repeat bottom; 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	border: 1px solid #d4ccc2; }

.sidebar a { 
	color: #75854e; }

.sidebar-content { 
	width: 300px; 
	padding-left: 50px; 
	padding-right:30px; 
	height: 100%; }

.field-info { 
	font-style:italic; 
	padding-left:5px; 
	font-size:10px; }

.highlighted { 
	font-weight: bold; }

.offer { 
	padding: 20px 24px; 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #b8ac92;
	margin-bottom:15px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #fcf9e7 51%, #faf5d5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(51%,#fcf9e7), color-stop(100%,#faf5d5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#fcf9e7 51%,#faf5d5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#fcf9e7 51%,#faf5d5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#fcf9e7 51%,#faf5d5 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#fcf9e7 51%,#faf5d5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#faf5d5',GradientType=0 ); /* IE6-9 */}

.offer h1 { 
	color: #455b13; }

.offer-btn { 
	background: transparent url(img/sprites.png) 0px -420px;
	height:42px; 
	width:242px; }

.offer-btn p { 
	text-align:center; 
	font-weight:bold; 
	font-size:15px; 
	color:#FFFFFF; 
	padding-top: 10px; }

.offer-btn a { 
	color:#FFFFFF; 
	text-decoration:none; 
	cursor:pointer; }

.offer-btn a:hover { 
	text-decoration:none; }

a#btn-modal { 
	text-decoration: none; }


/* LABELS
-------------------------------------------------------------- */
label { 
	float:left; 
	color:#a3a08c; 
	font-size:11px; 
	padding-bottom: 10px; 
	font-weight:lighter; }

input { 
	border: 1px solid #b1b1b1; }

.field-first { 
	padding-right: 9px; }

.field-first input { 
	width: 166px; }

.field-last input { 
	width: 213px; }

fieldset { 
	margin: 10px 0; }

.field-long input { 
	width:390px; }


/* MODAL
-------------------------------------------------------------- */
#inline1 { 
	width:400px;
	overflow:auto;
	background: transparent url(img/sprites.png) 0px -646px;
	width: 513px; }

#inline1 .content {  
	margin: 72px 128px ; }

#inline1 h1 { 
	color: #455B13; }

#inline1 .offer-btn { 
	background: transparent url(img/sprites.png) 0px -420px; 
	height:42px; 
	width:242px; 
	text-align: center; }