@charset "utf-8";
/* CSS Document */

body{
background-color: #2a2925;
font:Verdana, Arial, Helvetica, sans-serif;
color: #c3c0af;

}

#header {
	
	height: 198px;
	margin: 0 auto;
	background: url(images/header.gif) no-repeat left top;
}

#background{
background: url(images/tooth.gif) repeat left top;
}

#project{
	
	height: 243px;
	margin: 0 auto;
	background: url(images/bar.jpg) repeat left top;
}

#text_1{
	font-size: 18pt;
	color: #e07824;
	font-family:"Calisto MT";
	padding: 0px 0px 0px 0px;
}

#text_2{
font-size: 12pt;
color:#FFFFFF;
font-family:Verdana, Arial, Helvetica, sans-serif;
}

#whatfresh{

height: 182px;
margin: 0 auto;
background: url(images/block.jpg) no-repeat left top;
}

#project_text{
padding: 10px 0px 0px 0px;
}

#project_image{
padding: 10px 0px 0px 0px;
}


#project_text a {
	text-decoration: none;
	font: 10pt Verdana, Arial, Helvetica, sans-serif;
	color: #3fa7e6;
}

#project_text a:hover {
	color: #e07824;
	font: 10pt Verdana, Arial, Helvetica, sans-serif;
}

#link_text{
padding: 0px 0px 0px 0px;
}


#link_text a {
	text-decoration: none;
	font: 10pt Verdana, Arial, Helvetica, sans-serif;
	color: #3fa7e6;
}

#link_text a:hover {
	color: #e07824;
	font: 10pt Verdana, Arial, Helvetica, sans-serif;
}

div.spacer {
	height:3em;
}

.style1 {color: #e03f24}
.style2 {color: #3fa7e6}
.style3 {color: #E03F24}
.style4 {color: #3FA7E6}

<!-- Menu -->

#menu {
text-align:center;
	height: 51px;
	font: 24pt Bauhaus 93;
	color:#FFFFFF;
}

#menu ul {
	margin: 0;
	padding: 140px 0 0 90px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	margin-right: 5px;
	text-decoration: none;
	font: 24pt "Bauhaus 93", Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
}

#menu a:hover {
	color: #353434;
 }

#menu .current_page_item a {
	color: #e07824;
}

<!-- Menu -->


<!-- Contact menu -->

#page-wrap {
	width: 660px;
	background: white;
	padding: 0px 0px 0px 0px;
	margin: 0px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;
	
}

#contact-area {
	width: 600px;
	margin-top: 25px;
	padding: 0px 0px 0px 0px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
	color: #e17924;
}



#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #CCCCCC;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
	color: #3fa7e6;
	
}


<!-- Contact menu -->


#footerContent{
text-align:center;
}


#footer{

	height: 200px;
	margin: 0 auto;
background: url(images/footer.gif) repeat left top;
}

